.container {
  max-width: 1240px;
  margin: 0 auto;
}

.elemsFunctions,
.indexFunctions {
  display: flex;
  gap: 12px;
}

.imputField {
  max-width: 204px;
}

.circlesContainer {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button {
  width: 100%;
}
