.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.columnsContainer {
  margin-top: 48px;
  min-height: 320px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  justify-content: center;
}

.radioContainer {
  display: flex;
  gap: 40px;
}
